# Gemini API Key
GEMINI_API_KEY=

# CMS Login Information
CMS_LOGIN_URL=https://YOURDOMAIN.com/admin/user/login
CMS_USERNAME=YOUR_USERNAME
CMS_PASSWORD=YOUR_PASSWORD
CMS_CREATE_NEWS_URL=https://YOURDOMAIN.com/admin/news/man/tin-tuc
